@import url('https://fonts.googleapis.com/css?family=Abel|Archivo+Narrow|Hind+Siliguri');

footer{
	font-family: 'Abel';
}

nav{
	font-family: 'Abel';
}

body{
	padding: 0%;
	margin: 0%;
	font-family: 'Abel';
}

.navbar-nav{
	margin-top: 10px;
	margin-left: 32%;
	font-size: 20px;
}

.nav{
	padding: 10px;
	margin-right: 80px;
}

.nav-item{
	margin-right: -15px;
}

p{
	margin: auto;

}


.col-centered{
	display: inline-block;
	float: none;
	text-align: left;
	margin:auto;
}

.bawah{
	margin-top: -5px;
	height: 5px;
	width: 100px;
}

.katalog{
	position: absolute;
	margin-bottom: 10%;
}

.test{
	margin-top: 10%;
}

.kt{
	padding: 50px;
	margin-bottom: 300px;
}
